{literal}
	<form action="forgot.php" method="post" id="login">
	  
<h1><img src="assets/img/logo.svg"/></h1>
          <input type="hidden" value="{/literal}{$auth}{literal}" name="auth" />
          <input type="hidden" value="{/literal}{$username}{literal}" name="username" />
	  <input placeholder="Password" type="password" id="password" required="required" title="Must be longer then 5 characters" pattern=".{5}.+" autocapitalize="off"/>
	  <input placeholder="Password, again" type="password" id="cfmPassword" name="password" required="required" pattern="" title="Please enter a matching password" autocapitalize="off"/>
	  <button class="button">Reset password</button>
	</form>
{/literal}