<!DOCTYPE HTML>

<html lang="en-US">

<head>

    <meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

 	<link rel="stylesheet" type="text/css" href="assets/css/strawberry.css">
 	<link rel="stylesheet" type="text/css" href="assets/css/lemonade.css">
 	<link rel="stylesheet" type="text/css" href="assets/css/responsive.css">
	<link rel="stylesheet" type="text/css" href="assets/css/popcorn-icons.css">
	<link rel="stylesheet" type="text/css" href="assets/css/reset.css">
	<link rel="stylesheet" type="text/css" href="assets/css/biggie.css">

 	<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700' rel='stylesheet' type='text/css'>

	<title>{$title} &#8212; {$name}</title>
	<!--[if IE]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

</head>
<body>
{if $loggedIn == true}

    <nav>
        <ul>
            <li><a class="active" href="./">Strawberry</a></li>
		    <li><a class="log-block"  href="#">
		        <img src="{$gravatar}" id="profileIcon" />
		        	{$username}
		       </a>
            
		       <div class="dropper">
		       	<a class="block prof" href="profile.php">Profile</a>
		       	<a class="block loggy" href="logout.php">Logout</a>
		       </div>
            </li>
        </ul>
        <div class="nav-btn">
        	<i class="glyph-list-white"></i>
    	</div>
    </nav>

{else}
	<nav>
		<ul>
			<li><a class="active" href="index.php">Strawberry</a></li>
			<li><a href="https://github.com/lifesgood/strawberry">GitHub</a></li>
			<li><a href="https://github.com/lifesgood/strawberry/issues/new">Support</a></li>
		</ul>
		<div class="nav-btn">
			<i class="glyph-list-white"></i>
		</div>
	</nav>
{/if}
