<body class="trans">
<!-- successful login! -->
<div class="frame columns">
	<div class="bit-1">
		<h1 class="example-head">
<div id="circularG">
    <div id="circularG_1" class="circularG"></div>
    <div id="circularG_2" class="circularG"></div>
    <div id="circularG_3" class="circularG"></div>
    <div id="circularG_4" class="circularG"></div>
    <div id="circularG_5" class="circularG"></div>
    <div id="circularG_6" class="circularG"></div>
    <div id="circularG_7" class="circularG"></div>
    <div id="circularG_8" class="circularG"></div>
</div>
		</h1>
	</div>
</div>
<script type="text/javascript">
{literal}
setTimeout(function(){window.location="login.php";}, 2000);
{/literal}
</script>